/* Styles généraux */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #009A90; /* Couleur de fond générale */
}

.container {
    width: 80%; /* Largeur de la zone de contenu */
    margin: auto; /* Centrage horizontale du contenu */
    padding-top: 50px; /* Espacement depuis le haut de la page */
}

/* Styles pour les tables */
table {
    width: 100%; /* Table s'étendant sur toute la largeur */
    border-collapse: collapse; /* Fusion des bordures de la table */
    background-color: #fff; /* Fond blanc pour une meilleure lisibilité */
}

th {
    background-color: #2ECEC6; /* Couleur de fond des en-têtes */
    color: #fff; /* Couleur du texte des en-têtes */
    font-weight: bold; /* Texte en gras */
    padding: 15px; /* Espacement intérieur */
    text-align: center; /* Centrage du texte */
}

td {
    padding: 10px; /* Espacement intérieur des cellules */
    text-align: center; /* Centrage du texte */
}

/* Styles pour les boutons */
.button {
    display: inline-block; /* Affichage en ligne */
    padding: 10px 20px; /* Espacement intérieur */
    background-color: #2ECEC6; /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
    text-decoration: none; /* Pas de soulignement */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Transition fluide */
}

.button:hover {
    background-color: #009A90; /* Changement de couleur au survol */
}

/* Styles spécifiques pour certains éléments */
.exam {
    border-radius: 50px; /* Coins très arrondis */
    background-color: #2ECEC6; /* Couleur de fond spécifique */
}
