/* Hide the dark mode button by default */
.light {
    display: none;
}


[data-bs-theme="dark"] form {
    background-color: rgba(6, 5, 5, 0.274);
}

legend{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #AF9500;
    text-decoration: underline;
    text-decoration-color: #9f9c92;

}

/* label */
label{
    font-weight: bold;
}

/* input */

input[readonly] {
    background-color: #f6f9ee;
    background-image: url('../images/readonly.png');
    background-size: 15px;
    background-position: right 15px center;
    background-repeat: no-repeat;
    font-weight: bold;
    color: #005841;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* select */
select {
    background-image: url('path_to_your_arrow_icon.png');
    border: #CCC 1px solid;
}
.part {
    color: #AF9500;
}

/* button */
.btn {
    background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #ad8d4c 78%);
    text-transform: uppercase;
}

.btn:hover {
    font-weight: bold;
    color: black;
}

body {
    background-image: url('/static/images/image.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    background: rgb(229, 229, 218);
}