legend{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-decoration-color: #ac9750;

}

/* label */
label{
    font-weight: bold;
}

/* input */
input[readonly] {
    background-color: #b5b8a8;
    background-image: url('../images/readonly.png');
    background-size: 15px;
    background-position: right 15px center;
    background-repeat: no-repeat;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* select */
.part {
    color: #a07400;
}


/* background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #ad8d4c 78%); */


.container{
    justify-content: center;
}

li:hover {
    /* background-color: black;
    color: yellow;
    text-decoration: underline;
    text-decoration-color: #9f9c92; */
}

.custom-dropdown .dropdown-menu {
    background-color: white; /* Couleur de fond blanche */
}

[data-bs-theme="light"] .btn-outline-warning{
    color: rgb(0, 0, 0);
    border-color: rgb(255, 191, 0);
    background-color: rgb(232, 181, 70);

}